@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <br />
    <div class="border white">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </div>
    </div>
</header>