@page
@model VehicleService.Areas.Identity.Pages.Account.VerifyEmailModel
@{
}
<div class="border white">
    <h1>Confirm Email Address</h1>
    <div>
        <p>
            Confirm your email before proceeding!
            If you haven't received any email please check your junk folder.
        </p>
    </div>
</div>

    
